@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;

}

a{
    display: flex;
    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    background-color: red;
    
}